
#ingredients>button:hover {
    background-color: #0751bc;
}

#ingredientTag>i:hover {
    color: #0751bc;
}

#appliances>button:hover {
    background-color: #2caf72;
}

#appliancesTag>i:hover {
    color: #2caf72;
}

#ustensiles>button:hover {
    background-color: #dd2c17;
}

#ustensileTag>i:hover {
    color: #dd2c17;
}

#ingredientsElt > button, #appliancesElt > button, #ustensilesElt > button {
    align-items: center;
    border: none;
    border-radius: .3125rem;
    color: #ffff;
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
    height: 4.3125rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 1rem;
    transition: linear .3s;
    width: 11rem;
}

#ingredientsElt > button, #inputIngredients {
    background-color: #3282F7;
}

#tagsBadges > #appliancesTag, #appliancesHide, #inputAppliances, #appliancesElt > button {
    background-color: #68D9A4;;
}

#ustensilesElt > button, #inputUstensiles, #ustensilesHide {
    background-color: #ED6454;
}

#ingredientsHide, #appliancesHide, #ustensilesHide {
    display: none;
}

#ingredientsHide{
    background-color: #3282F7;
    border-radius: 5px;
    color: #ffff;
    display: none;
    position: absolute;
    top: 4rem;
    width: 35rem;
    z-index: 10;
}

#inputIngredients,#inputAppliances,#inputUstensiles {
    border: none;
    border-radius: 5px;
    color: #ffff;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    height: 4.3125rem;
    outline: none;
    padding: 2rem;
    width: 100%;
}

#closeIngredientsFilter, #closeAppareilFilter,#closeUstensilesFilter {
    font-size: 1.125rem;
    left: 32rem;
    position: absolute;
    top: 1.8rem;
}

.listUlApp>li:hover {
    background-color: #ffff;
    color: #68D9A4;
}

.listUlIng, .listUlApp,.listUlUst {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    list-style: none;
    padding: .5rem;
}

.listUlIng>li,
.listUlApp>li,
.listUlUst>li {
    font-size: 1.21rem;
    overflow: hidden;
    padding: .5rem 1rem;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 9rem;
}

.listUlIng>li.list-ingredients.selected,
.listUlApp>li.list-appareil.selected,
.listUlUst>li.list-ustensiles.selected {
    background-color: #000;
}

.listUlIng>li:hover {
    background-color: #ffff;
    color: #3282F7;
}

#resultMessage {
    display: none;
}

#searchBarInput {
    background-color: #E7E7E7;
    border: #FFF solid 1px;
    border-radius: .3125rem;
    font-size: 1rem;
    height: 2.8125rem;
    margin-bottom: 1.5rem;
    outline: none;
    padding: 2rem;
    text-overflow: ellipsis;
    width: 100%;
}

#searchBar > i {
    background-color: #E7E7E7;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 2rem;
    top: 3rem;
}


input {
    width: 100%;
}

#mainContent {
    display: flex;
    justify-content: space-evenly;
}

#mainContent>div {
	background-color: #E7E7E7;
	border-radius: .3125rem;
	height: auto;
	margin-bottom: 2.5rem;
    padding: 0;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	width: 22rem;
}

#mainContent>div>div.recipeInfo {
	display: flex;
	margin-left: 1rem;
	margin-right: 1rem;
}

#mainContent>div>div.recipeInfo>div.recipeIngredients>p {
	font-size: .8rem;
	margin: .125rem 0;
}

#mainContent>div>div.recipeInfo>div.recipeIngredients,
#mainContent>div>div.recipeInfo>div.recipeInstructions {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 7;
	display: -webkit-box;
	font-size: .8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
}

#mainContent img{
    width: 100%;
}

#mainContent>div>div.recipeTitle {
	align-items: center;
	background-color: #E7E7E7;
	display: flex;
	justify-content: space-between;
	margin-left: 1rem;
	margin-right: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#mainContent>div>div.recipeTitle>h2,
#mainContent>div>div.recipeTitle>span {
	font-size: 1.2rem;
	font-weight: 700;
}

#mainContent>div>div.recipeTitle>span>i {
	margin-right: .3rem;
}

#mainContent>article>img {
	height: 11.125rem;
	width: 23.75rem;
}

#resultMessage>i:hover {
	transform: scale(1.1);
}