$color-ingredients:#3282F7;
$color-appliances:#68D9A4;
$color-ustensiles:#ED6454;

$color-ingredientsHover:#0751bc;
$color-appliancesHover:#2caf72;
$color-ustensilesHover:#dd2c17;

$color-backgroundRecipeCard:#E7E7E7;